//== LOGO ==============//
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

//== BUTTONS =============//

.btn {
  &-inline {
    color: $color-primary;
    font-size: inherit;
    text-decoration: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid currentColor;
    padding-bottom: 0.2rem;
    cursor: pointer;
    transition: all 0.1s;

    & span {
      margin-left: 0.5rem;
      transition: margin-left 0.2s;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      -webkit-animation: pulsate 1s cubic-bezier(0.83, 0, 0.17, 1) infinite;
      animation: pulsate 1s cubic-bezier(0.83, 0, 0.17, 1) infinite;
      color: $color-grey-dark-1;

      span {
        margin-left: 1rem;
      }
    }
  }
}

@-webkit-keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba($color-black, 0.5);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba($color-black, 0.5);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

//== SEARCH ==============//
.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: $color-grey-light-2;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;

    &:focus {
      outline: none;
      width: 100%;
      background-color: $color-grey-light-3;
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: $color-grey-light-4;
    }

    &::-moz-placeholder {
      font-weight: 100;
      color: $color-grey-light-4;
    }

    &:-ms-input-placeholder {
      font-weight: 100;
      color: $color-grey-light-4;
    }

    &::-ms-input-placeholder {
      font-weight: 100;
      color: $color-grey-light-4;
    }

    &::placeholder {
      font-weight: 100;
      color: $color-grey-light-4;
    }
  }

  &__input:focus + &__button &__icon {
    fill: $color-primary;
  }
  &__button {
    right: 0;
    border: none;
    background-color: transparent;
    transition: all 0.2s;
    margin-left: -3rem;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: $color-grey-dark-2;
  }
}

//== USER NAV ==============//
.user-nav {
  display: flex;
  align-self: stretch;

  & > * {
    //Apply padding to all the direct children
    padding: 0 1rem;
    cursor: pointer;

    //The items are stretched vertically so need to center
    //their content vertically
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: $color-grey-light-2;
  }

  &__icon {
    height: 3.25rem;
    width: 3.25rem;
    fill: $color-grey-dark-2;
  }

  &__notification {
    margin: -2.5rem 0 0 -1.5rem;
    display: inline-block;
    font-size: 1rem;
    background-color: $color-primary;
    border-radius: 100px;
    color: $color-white;
    padding: 0 0.5em;

    // The following isn't really needed, however if an
    // element contains text then can also center it with flex
    width: 3rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

//== SIDE NAV ==============//

.side-nav {
  list-style: none;

  &__item {
    position: relative;
  }

  &__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: $color-primary;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
  }

  &__item:hover::before,
  &__item--active,
  &__item--active::before {
    width: 100%;
    transform: scaleY(1);
    color: $color-white;
  }

  &__item:active::before {
    background-color: $color-primary-light;
  }

  &__item:hover &__link {
    color: $color-white;
  }

  &__link:link,
  &__link:visited {
    //NOTE z-index will only work if the position is set
    position: relative;
    //Place the link in front of
    // .side-nav__item:hover::before
    z-index: 10;

    padding: 1rem;
    font-size: 1.4rem;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;

    display: flex;
    align-items: center;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    // Match the icon to the color of the parent element
    // (will also match when hovered
    fill: currentColor;
  }
}

//== LEGAL ==============//

.legal {
  line-height: 1;
  font-size: 1.2rem;
  text-align: center;
}

//== GALLERY ==============//

.gallery {
  display: flex;

  &__photo {
    display: block;
    width: 100%;
  }
}

//== HOTEL OVERVIEW ==============//

.overview {
  display: flex;
  align-items: center;
  border-bottom: $border-line;

  & > * {
    padding: 1rem;
    display: flex;
    align-items: center;
  }

  &__heading {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 200;
  }

  &__location {
    font-size: 1.1rem;
    margin-left: auto;
    color: $color-primary;
  }

  &__icon-star,
  &__icon-location {
    min-width: 2rem;
    width: 2rem;
    height: 2rem;
    fill: $color-primary;
  }

  &__icon-location {
    margin-right: 0.3rem;
  }

  &__rating {
    background-color: $color-primary;
    color: $color-grey-light-1;
    flex-flow: column;
    align-self: stretch;
    justify-content: center;

    &-average {
      font-size: 2.25rem;
      font-weight: 300;
      line-height: 1.7rem;
    }

    &-votes {
      font-size: 1rem;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

//== PARAGRAPH ==============//

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: $border-line;
  border-bottom: $border-line;

  display: flex;
  flex-flow: wrap;

  &__item {
    // Display: flex to avoid text wrapping under the bullet
    display: flex;
    flex: 0 0 50%;
    margin-bottom: 0.7rem;

    &::before {
      content: '';
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin: 0.7rem;

      // Older browsers (but can't set image color)
      background-image: url(../img/SVG/chevron-thin-right.svg);
      background-size: cover;

      // Newer browsers - set a background color and use the sprite
      // as a mask
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        background-image: none;
        background-color: $color-primary;
        -webkit-mask-image: url(../img/SVG/chevron-thin-right.svg);
        mask-image: url(../img/SVG/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        mask-size: cover;
      }
    }
  }
}

.recommend {
  font-size: 1.3rem;
  color: $color-grey-dark-3;

  display: flex;
  align-items: center;

  &__count {
    flex: 1;
    margin-right: auto;
    padding-right: 1rem;
  }

  &__photo {
    // Set box sizing is set to border-box in * {} so set to content-box here
    // to avoid the border from pushing in the image and making it smaller
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid $color-white;

    &:not(:first-child) {
      margin-left: -1.5rem;
    }
  }
}

.review {
  position: relative;
  background-color: $color-grey-light-1;
  padding: 1rem;
  box-shadow: $shadow-light;
  overflow: hidden;

  // The course had a single pair of quotes appearing in the top left corner of the
  // review box. Opted instead to add the quotes before & after the review__text
  // element below
  // &::before {
  //   content: "\201C";
  //   position: absolute;
  //   top: -3rem;
  //   left: -1rem;
  //   font-size: 20rem;
  //   font-family: sans-serif;
  //   color: $color-grey-light-3;
  //   line-height: 1;
  // }

  &__text {
    position: relative;
    z-index: 0;

    &::before,
    &::after {
      position: absolute;
      // Tried using z-index of 2 on review__text and 1 on before/after but didn't work.
      // Using a negative z-index here worked instead
      z-index: -1;
      font-family: sans-serif;
      color: $color-grey-light-4;
      opacity: 0.5;
      font-size: 15rem;
      line-height: 0;
    }

    &::before {
      top: 6rem;
      left: -1rem;
      content: '\201C';
    }

    &::after {
      bottom: -2rem;
      right: -1rem;
      content: '\201D';
    }
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  & > * {
    margin: 0.5rem;
  }

  &__user {
    background-color: $color-grey-light-3;
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;

    & > * {
      padding: 0.5rem;
    }

    display: flex;
    align-items: center;
  }

  &__text {
    margin-bottom: 1rem;
  }

  &__photo {
    box-sizing: content-box;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100rem;

    // For IE - add a transparent border for the round corners to work
    border: 1px solid transparent;
  }

  &__user-box {
    flex: 1;
    //OR... margin-right: auto;
  }

  &__user-name {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
  }

  &__user-date {
    font-size: 1rem;
    color: $color-grey-dark-3;
  }

  &__rating {
    color: $color-white;
    align-self: stretch;
    display: flex;
    align-items: center;
    background-color: $color-primary;
    font-size: 1.8rem;
    padding: 1rem;
    font-weight: 300;
  }
}

.cta {
  padding: 3.5rem 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;

  & > * {
    font-size: inherit;
    font-weight: inherit;
    text-transform: uppercase;
  }

  &__book-now {
    margin-bottom: 2.5rem;
  }
}

.btn-slide-down,
.btn-slide-up {
  box-sizing: content-box;
  height: 5rem;
  overflow: hidden;
  border: none;
  border-radius: 10rem;
  color: $color-white;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    $color-primary,
    $color-primary-dark
  );

  &:focus {
    outline: none;
  }

  & > * {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    padding: 0 1.5rem;
  }

  &:hover {
    background-image: linear-gradient(
      to left,
      $color-primary,
      $color-primary-dark
    );
    animation: pulsate 1s infinite;
  }
}

.btn-slide-down {
  & > * {
    transform: translateY(-100%);
  }

  &:hover * {
    transform: translateY(0);
  }
}

.btn-slide-up {
  & > * {
    transform: translateY(0);
  }

  &:hover * {
    transform: translateY(-100%);
  }
}
