.container {
  max-width: 120rem;
  margin: 2rem auto;
  background-color: $color-grey-light-1;
  box-shadow: $shadow-dark;

  @media only screen and (max-width: $bp-xl) {
    margin: 0;
  }
}

.header {
  height: 7rem;
  font-size: 1.4rem;
  background-color: $color-white;
  border-bottom: $border-line;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-sm) {
    flex-flow: wrap;
    height: 10rem;
  }
}

.content {
  display: flex;

  @media only screen and (max-width: $bp-md) {
    flex-flow: column;
  }
}

.sidebar {
  color: $color-grey-light-4;
  background-color: $color-grey-dark-1;
  flex: 0 0 20%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > *:last-child {
    padding: 1rem;
  }

  @media only screen and (max-width: $bp-md) {
    flex-flow: row;
  }
}

.main-view {
  background-color: $color-white;
  flex: 1;
}

//DETAILS
.detail {
  font-size: 1.4rem;
  background-color: $color-grey-light-3;
  padding: 1rem;
  display: flex;

  & > * {
    margin: 1rem;
  }

  @media only screen and (max-width: $bp-sm) {
    display: block;
  }
}

.description {
  display: flex;
  flex-flow: column;
  flex: 0 0 60%;
  background-color: $color-grey-light-1;
  padding: 1rem;
  box-shadow: $shadow-light;
}

.user-reviews {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;

  @media only screen and (max-width: $bp-sm) {
    margin-top: 2rem;
  }
}
